{% extends "store/base.html" %}

{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg padding-y border-top">
        <div class="container">

            <div class="row">
                <main class="col-sm-9">

                    <div class="card">
                        <table class="table table-hover table-responsive shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Produtos</th>
                                    <th scope="col" width="120">Quantidade</th>
                                    <th scope="col" width="120">Preço</th>
                                    <th scope="col" width="120">Status</th>
                                    <th scope="col">Data</th>
                                    <th scope="col" class="text-right" width="200">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for en_produto in object.produtos.all %}
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <div class="img-wrap"><img src="{{ en_produto.produto.image.url }}" class="img-thumbnail img-sm"></div>
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">{{ en_produto.produto.nome }}</h6>
                                                <dl class="dlist-inline small">
                                                    <dt>Massa: </dt>
                                                    <dd>{{ en_produto.produto.massa }}</dd>
                                                </dl>
                                                <dl class="dlist-inline small">
                                                    <dt>Recheio: </dt>
                                                    <dd>{{ en_produto.produto.cobertura }}</dd>
                                                </dl>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <a href="{% url 'remove_single_from_cart' en_produto.produto.slug %}"><i style="margin-left: 10px" class="fas fa-minus mr-2"></i></a>
                                        {{ en_produto.quantidade }}
                                        <a href="{% url 'add_to_cart' en_produto.produto.slug %}"><i style="margin-left: 9px" class="fas fa-plus mr-2"></i></a>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">R$ {{ en_produto.get_total_produto_price }}</var>
                                            <small class="text-muted">(R${{ en_produto.produto.preco }} cada)</small>
                                        </div>
                                        <!-- price-wrap .// -->
                                    </td>
                                    {% if en_produto.status == True %}
                                        <td>Encomenda Confirmada</td>
                                    {% else %}
                                        <td>Encomenda Pendente</td>
                                    {% endif %}
                                    <td>
                                        {{object.data}}
                                    </td>
                                    <td class="text-right">
                                        
                                        <a href="{% url 'remove_from_cart' en_produto.produto.slug %}" class="btn btn-outline-danger"> × Excluir</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- card.// -->

                </main>
                <!-- col.// -->
                <aside class="col-sm-3">
                    <!--
                        dl class="dlist-align">
                            <dt>Preço total: </dt>
                            <dd class="text-right">R$ 568</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Desconto:</dt>
                            <dd class="text-right">R$ 658</dd>
                        </dl>
                    -->
                    
                    <dl class="dlist-align h4">
                        <dt style="width: auto">Preço Total:</dt>
                        <dd class="text-right"><strong>R${{ object.get_total }}</strong></dd>
                    </dl>
                    <hr>
                    <figure class="itemside mb-3">
                        <form method="POST">
                            {% csrf_token %}
                            <!--<input class="form-control" type="datetime-local" value="{{ object.data }}" id="example-datetime-local-input">-->
                            Data Encomenda: {{form.data}}
                            <br><br>
                            <button type="submit" class="btn btn-default">Atualizar</button>
                        </form>
                    </figure>
                    

                </aside>
                <!-- col.// -->
            </div>

        </div>
        <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="section-name bg-white padding-y">
        <div class="container">
            
        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->

{% endblock %}