{% extends "store/base.html" %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg padding-y-sm">
        <div class="container">
            <nav class="mb-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Category name</a></li>
                    <li class="breadcrumb-item"><a href="#">Sub category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Items</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12">

                    <main class="card">
                        <div class="row no-gutters">
                            <aside class="col-sm-6 border-right">
                                <article class="gallery-wrap">
                                    <div class="img-big-wrap">
                                        <div>
                                            <a href="{{ object.image.url }}" data-fancybox=""><img src="{{ object.image.url }}"></a>
                                        </div>
                                    </div>
                                    <!-- slider-product.// 
                                    <div class="img-small-wrap">
                                        <div class="item-gallery"> <img src="images/items/1.jpg"></div>
                                        <div class="item-gallery"> <img src="images/items/2.jpg"></div>
                                        <div class="item-gallery"> <img src="images/items/3.jpg"></div>
                                        <div class="item-gallery"> <img src="images/items/4.jpg"></div>
                                    </div>-->
                                    <!-- slider-nav.// -->
                                </article>
                                <!-- gallery-wrap .end// -->
                            </aside>
                            <aside class="col-sm-6">
                                <article class="card-body">
                                    <!-- short-info-wrap -->
                                    <h3 class="title mb-3">{{ object.nome }}</h3>

                                    <div class="mb-3">
                                        <var class="price h3 text-warning"> 
		                                    <span class="currency">R$</span><span class="num">{{ object.preco }}</span>
	                                    </var>
                                    </div>
                                    <!-- price-detail-wrap .// -->
                                    <dl>
                                        <dt>Descrição</dt>
                                        <dd>
                                            <p> {{ object.descricao }} </p>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dt class="col-sm-3">Categoria</dt>
                                        <dd class="col-sm-9">{{ object.categoria }}</dd>

                                        <dt class="col-sm-3">Massa</dt>
                                        <dd class="col-sm-9">{{ object.massa }}</dd>

                                        <dt class="col-sm-3">Recheio</dt>
                                        <dd class="col-sm-9">{{ object.cobertura }}</dd>
                                    </dl>

                                 
                                    <a href="{{ object.get_add_to_cart_url }}" class="btn  btn-warning"> Adicionar ao Carrinho </a>
                                    <!-- short-info-wrap .// -->
                                </article>
                                <!-- card-body.// -->
                            </aside>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </main>
                    <!-- card.// -->

                    
                    <!-- card.// -->

                    <!-- PRODUCT DETAIL .// -->

                </div>
                <!-- col // -->

            </div>
            <!-- row.// -->

        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION CONTENT .END// ========================= -->

    <!-- ========================= SECTION ITEMS ========================= -->

    <section class="section-request bg padding-y-sm">
        <div class="container">
            
        </div>
        <!-- container // -->

    </section>

    <!-- ========================= SECTION ITEMS .END// ========================= -->
{% endblock %}