{% extends "store/base.html" %}

{% block content %}

    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-main bg padding-y-sm">
        <div class="container">
            <div class="row row-sm">
                <!--
	<aside class="col-md-3">
<h5 class="text-uppercase">My Markets</h5>
	<ul class="menu-category">
		<li> <a href="#">Food &amp Beverage </a></li>
		<li> <a href="#">Home Equipments </a></li>
		<li> <a href="#">Machinery Items </a></li>
		<li> <a href="#">Toys & Hobbies  </a></li>
		<li> <a href="#">Consumer Electronics  </a></li>
		<li> <a href="#">Beauty & Personal Care  </a></li>
		<li class="has-submenu"> <a href="#">More category  <i class="icon-arrow-right pull-right"></i></a>
			<ul class="submenu">
				<li> <a href="#">Food &amp Beverage </a></li>
				<li> <a href="#">Home Equipments </a></li>
				<li> <a href="#">Machinery Items </a></li>
				<li> <a href="#">Toys & Hobbies  </a></li>
				<li> <a href="#">Consumer Electronics  </a></li>
				<li> <a href="#">Home & Garden  </a></li>
				<li> <a href="#">Beauty & Personal Care  </a></li>
			</ul>
		</li>
	</ul>

	</aside>  col.// --><!--

        <div class="col-md-12">
                     ================= main slide ================= 
                    <div class="owl-init slider-main owl-carousel" data-items="1" data-nav="true" data-dots="false">
                            <div class="item-slide">
                                <img src="images/banners/slide1.jpg">
                            </div>
                            <div class="item-slide">
                                <img src="images/banners/slide2.jpg">
                            </div>
                            <div class="item-slide">
                                <img src="images/banners/slide3.jpg">
                            </div>
                        </div>
                        
                    </div>
                    
        
    -->
                

            </div>
            <!-- row.// -->

        </div>
        <!-- container .//  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y-sm bg">
        <div class="container">

            <header class="section-heading heading-line">
                <h4 class="title-section bg">Produtos</h4>
            </header>

            <!--<div class="card">-->
            <div class="row no-gutters">
                <div class="col-md-3">

                    <article href="#" class="card-banner h-100 bg2">
                        <div class="card-body zoom-wrap">
                            <h5 class="title">Temos para você as melhores opções de bolo para sua festa!</h5>
                            <p></p>
                            <!-- <img src="images/items/item-sm.png" height="200" class="img-bg zoom-in"> -->
                        </div>
                    </article>

                </div>
                <!-- col.// -->
                <div class="col-md-9">

                    <div class="row">

                        {% for pro in produtos %}
                            <div class="col-md-4">
                                <figure class="card card-product">
                                    <div class="img-wrap"><img src="{{ pro.image.url }}"></div>
                                    <figcaption class="info-wrap">
                                        <h4 class="title">{{ pro.nome }}</h4>
                                        <p class="desc">{{ pro.descricao }}</p>
                                    </figcaption>
                                    <div class="bottom-wrap">
                                        <a href="{{ pro.get_absolute_url }}" class="btn btn-sm btn-primary float-right">Encomendar</a>
                                        <div class="price-wrap h5">
                                            <span class="price-new">R${{ pro.preco }}</span> <!-- <del class="price-old">$1980</del> -->
                                        </div>
                                        <!-- price-wrap.// -->
                                    </div>
                                    <!-- bottom-wrap.// -->
                                </figure>
                            </div>
                        {% endfor %}

                    </div>
                    <!-- row.// -->

                    <!--</div>-->
                    <!-- card.// -->

                </div>
                <!-- container .//  -->
    </section>

    


    <!-- ========================= SECTION LINKS ========================= -->

    <!-- ========================= SECTION LINKS END.// ========================= -->

    <!-- ========================= SECTION SUBSCRIBE ========================= -->
    <section class="section-subscribe bg-secondary padding-y-lg">
        <div class="container">


        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION SUBSCRIBE END.//========================= -->

    {% endblock content%}