{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Entrar" %}{% endblock %}

{% block content %}

<section class="section-content padding-y-sm bg">
  <div class="container">
      <div class="row no-gutters">
          <div class="col-6 offset-3">
                
            <h1>{% trans "Entrar" %}</h1>

            {% get_providers as socialaccount_providers %}
            
            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
            
            <div class="socialaccount_ballot">
            
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            
              <div class="login-or">{% trans 'or' %}</div>
            
            </div>
            
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% else %}
            <p>{% blocktrans %}Se você ainda não possuí uma conta, favor 
            <a href="{{ signup_url }}">cadastrar-se</a> primeiro.{% endblocktrans %}</p>
            {% endif %}
            
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Esqueceu sua senha?" %}</a>
              <button class="btn btn-primary" type="submit">{% trans "Entrar" %}</button>
            </form>
           </div>
      </div>
      
  </div>
</section>



{% endblock %}
