{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section class="section-content padding-y-sm bg" style="margin-bottom: 300px">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-6 offset-3">
                              
                <h1>{% trans "Sign Out" %}</h1>

                <p>{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </div>
      </div>
            
    </div>
</section>


{% endblock %}
