{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Cadastrar" %}{% endblock %}

{% block content %}
<section class="section-content padding-y-sm bg">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-6 offset-3">
                <h1>{% trans "Cadastrar" %}</h1>

                <p>{% blocktrans %}Já possuí uma conta? Favor <a href="{{ login_url }}">entrar</a>.{% endblocktrans %}</p>
                
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="btn btn-primary" type="submit">{% trans "Cadastrar" %} &raquo;</button>
                </form>
            </div>
         </div>
            
      </div>
  </section>


{% endblock %}
