{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Bootstrap-ecommerce by Vosidiy">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <!-- jQuery -->
    <script src="{% static 'store/js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="{% static 'store/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'store/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="{% static 'store/fonts/fontawesome/css/fontawesome-all.min.css' %}" type="text/css" rel="stylesheet">

    <!-- plugin: owl carousel  -->
    <link href="{% static 'store/plugins/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'store/plugins/owlcarousel/assets/owl.theme.default.css' %}" rel="stylesheet">
    <script src="{% static 'store/plugins/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- custom style -->
    <link href="{% static 'store/css/ui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'store/css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

    <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'store/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'store/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'store/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'store/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'store/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'store/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'store/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'store/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'store/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'store/favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'store/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'store/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'store/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'store/favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#50452F">
  <meta name="msapplication-TileImage" content="{% static 'store/favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#50452F">

    <!-- custom javascript -->
    <script src="{% static 'store/js/script.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        /// some script

        // jquery ready start
        $(document).ready(function() {
            // jQuery code

        });
        // jquery end
    </script>

</head>

<body>
    <header class="section-header">

        <section class="header-main shadow-sm">
            <div class="container">
                <div class="row-sm align-items-center">
                    <div class="col-lg-6-24 col-sm-3">
                        <div class="container">
                            <a class="navbar-brand" href="#">
                                <img class="logo" src="{% static 'store/images/logos/logo-teodora.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-11-24 col-sm-8">
                        <!--
                            <form action="#" class="py-1">
                            <div class="input-group w-100">
                                <select class="custom-select" name="category_name">
                                    <option value="">Todos</option>
                                </select>
                                <input type="text" class="form-control" style="width:50%;" placeholder="Pesquisar">
                                <div class="input-group-append">
                                    <button class="btn btn-warning" type="submit">
                                        <i class="fa fa-search"></i> Pesquisar
                                    </button>
                                </div>
                            </div>
                        </form>
                        -->
                        
                        <!-- search-wrap .end// -->
                    </div>
                    <!-- col.// -->
                    <div class="col-lg-7-24 col-sm-12">
                        <div class="widgets-wrap float-right row no-gutters py-1">
                            
                            <!-- col.// -->
                            {% if request.user.is_authenticated %}
                                <div class="col-auto">
                                    <a href="#" class="widget-header">
                                        <div class="icontext">

                                            <div class="icon-wrap">
                                                <i class="text-warning icon-sm fa fa-shopping-cart"></i>
                                            </div>
                                            <div class="text-wrap text-dark flu">
                                                <span class="small round badge badge-secondary">0</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-auto">
                                        <a href=" {% url 'account_logout' %} ">
                                                <div class="icontext">
                                                    <div class="text-wrap text-dark" style="margin-top: 10px">
                                                        Sair
                                                    </div>
                                                </div>
                                            </a>
                                    </div>
                            {% else %}
                                <div class="col-auto">
                                    <div class="widget-header dropdown">
                                        <a href=" {% url 'account_login' %} ">
                                            <div class="icontext">
                                                <div class="text-wrap text-dark">
                                                    Entrar
                                                </div>
                                            </div>
                                        </a>
                                        <a href=" {% url 'account_signup' %} ">
                                            <div class="icontext">
                                                <div class="text-wrap text-dark">
                                                    Cadastrar
                                                </div>
                                            </div>
                                        </a>
                                        <!--  dropdown-menu .// -->
                                    </div>
                                    <!-- widget-header .// -->
                                </div>
                            {% endif %}
                            <!-- col.// -->
                        </div>
                        <!-- widgets-wrap.// row.// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- container.// -->
        </section>
        <!-- header-main .// -->
    </header>
    <!-- section-header.// -->
    
    <div class="mt-5 pt-4">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        {% endif %}
    </div>


    <!-- ======================== Content Block ======================== -->
    {% block content %}{% endblock %}

    {% block extra_body %}
    {% endblock %}

    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
            <div class="container">
                <section class="footer-top padding-top">
                    <div class="row">
                        <aside class="col-sm-3 col-md-3 white">
                            <h5 class="title">INSTITUCIONAL</h5>
                            <ul class="list-unstyled">
                                <li> <a href="#">Quem Somos</a></li>
                                <li> <a href="#">Blog</a></li>
                            </ul>
                        </aside>
                        <aside class="col-sm-3  col-md-3 white">
                            <h5 class="title">ATENDIMENTO</h5>
                            <ul class="list-unstyled">
                                <li><strong>(37) 9 92000-6732</strong></li>
                                <li>Horário de Atendimento:</li>
                                <li>Segunda a Segunda</li>
                                <li>das 09h às 18h</li>
                                <li><strong>contato@theodoradoceu.com.br</strong></li>
                            </ul>
                        </aside>
                        <aside class="col-sm-3">
                            <article class="white">
                                <h5 class="title">SIGA-NOS NAS REDES SOCIAIS</h5>
                                <div class="btn-group white">
                                    <a class="btn btn-facebook" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f  fa-fw"></i></a>
                                    <a class="btn btn-instagram" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram  fa-fw"></i></a>
                                    <a class="btn btn-twitter" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter  fa-fw"></i></a>
                                </div>
                            </article>
                        </aside>
                    </div>
                    <!-- row.// -->
                    <br>
                </section>
                <section class="footer-bottom row border-top-white">
                    <div class="col-sm-6">
                        <p class="text-white-50"> Desenvolvido por
                            <br> R.A.W Company 2019
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-md-right text-white-50">
                            Copyright &copy
                            <br>
                            <a href="http://bootstrap-ecommerce.com" class="text-white-50">Theodora do Céu
                            </a>
                        </p>
                    </div>
                </section>
                <!-- //footer-top -->
            </div>
            <!-- //container -->
        </footer>
        <!-- ========================= FOOTER END // ========================= -->

</body>

</html>